/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/**,
*:after,
*:before {
    box-sizing: border-box;
}*/

html {
    color: #222;
    font-size: 1em;
    /*line-height: 1.4;*/
    font-family: 'Lato', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    margin-bottom: 4px;
}

input {
    vertical-align: middle;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
    height: 100%;
}

body {
    overflow-x: hidden;
    background: #EAEAEA;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #000;
    /*background-image: url(../img/bg-header.png);*/
    background-position: left center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 8px;
    height: 40px;
    z-index: 99;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 30px; /* .push must be the same height as .footer */
}

.header > div {
    display: inline-block;
}

.hamburger {
    float: left;
    font-size: 0.875em;
    padding-top: 20px;
}

.logo {
    float: left;
    margin-left: 10px;
}

.logo-img {
    width: 80%;
    height: 80%;
}

.navigation {
    position: fixed;
    top: 56px;
    z-index: 99;
    width: 100%;
    background: #FF8000;
    color: #fff !important; 
    font-size: 0.875em;
    clear: both;
    box-shadow: 0px 1px 3px #222;
}

.navigation--selected {
    background: #fff;
    opacity: 0.8;
    font-weight: 700;
}

.navigation > .nav-icon {
    display: inline-block;
    /*margin: auto 8px;*/
    padding: 8px;
    padding-top: 5px;
    cursor: pointer;
}

.navactive{
    border-top: 3px solid #fff;
}

.footer {
    width: 100%;
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 0.750em;
    padding: 0.375em;
}

.sidebar {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: inline-block;
    width: 58px;
    background-color: #4BB5C1;
    z-index: 5;
    box-shadow: inset -1px 4px 5px #222;
}

.side-list {
    margin: 0;
    margin-top: 100px;
    padding: 0;
    padding-right: 3px;
}

.side-icon {
    list-style: none;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 48px;
}

.cardui {
    /*float: left;*/
    display: inline-block;
    width: 93%;
    margin-left: 70px;
    margin-top: 95px;
}

.card {
    /*border: 1px solid #aaa;*/
    background-color: #fff;
    box-shadow: 1px 1px 1px #222;
    margin: 5px 0;
    padding: 10px;
    display: block;
    text-align: left;
    vertical-align: middle;
}

.nav-icon {
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
    font-weight: 700;
    text-shadow: 1px 1px 1px #FF7719;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-icon a {
    color: #fff;
    text-decoration: none;
}

.icon-config {
    background-image: url(../img/config.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
    color: #fff;
    text-decoration: none;
}

.icon-tdm {
    background-image: url(../img/tdm.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
    text-decoration: none;
}

.icon-tdm-active {
    background-image: url(../img/tdm-active.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
    color: #d35400;
    text-decoration: none;
}

.app-switcher {
    width: 40%;
    border: 2px solid #fff;
    padding: 2px;
    font-size: 1.5em;
}

.vlid-select {
    background-color: #85DB18;
    background-repeat: no-repeat;
    background-position: 99% 43%;
    font-size: 0.875em;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #aaa; /*85DB18*/
    width: 120px;
    height: 17px;
    color: #fff;
    padding: 4px;
    display: inline-block;
    vertical-align: middle;
}

.wrapper-demo {
    display: inline-block;
    background-color: #92ED1F;
    background-repeat: no-repeat;
    background-position: 99% 43%;
    font-size: 0.875em;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #aaa; /*85DB18*/
    /*width: 216px;*/
    height: 25px;
    vertical-align: middle;
}

.dropdown {
    margin-top: 0;
    padding-left: 0;
}

.app-dropdown {

}

.app {

}

.padme {
    padding: 10px;
}

.latest-activity {
    float: right;
    margin-right: 24px;
}

.utility-bar {
    float: right;
    vertical-align: middle;
    /*margin-top: 4px;*/
    margin-right: 24px;
}

.utility-bar > div {
    display: inline-block;
    vertical-align: inherit;
}

.profile {
    margin-right: 18px;
}

.profile__name {
    font-size: 0.875em;
    font-weight: 700;
}

.profile__role {
    font-size: 0.750em;
}

.profile > div {
    display: inline-block;
    vertical-align: inherit;
}

.logout {
    font-size: 0.500em;
    text-transform: uppercase;
    text-align: center;
}

#line-chart {
    /*margin-top: 8px;*/
}

.data-grid {
    width: 71%;
    float: left;
    border: 1px solid #2980b9;
}

.data-grid__grid-title {
    background-color: #2980b9;
    /*border: 1px solid #2980b9;*/
    color: #fff;
    text-align: center;
    padding: 8px;
    font-size: 1.25em;
    /*font-weight: 700;*/
}

.circuit-table, .interface-table, .comments-table {
    font-size: 11px;
    width: 100%;
    text-align: left;
}

.comments-table td {
    transition: opacity .25s ease-in-out;
}

.comment-box {
    vertical-align: middle;
    width: 75%;
    height: 45px;

}

.btn-comment {
    padding: 17px;
}

.comment-visible {
    opacity: 1
}

.card table td {
    padding: 2px;
    vertical-align: top;
}

.card table th {
    padding: 2px;
}

.even {
    background-color: #EAEAEA;
}

.data-summary__header {
    background: #16a085;
    color: #fff;
    text-align: center;
    font-size: 1.25em;
}

.data-summary__header td {
    padding: 8px !important;
}

.data-summary table {
    width: 100%;
    border: 1px solid #16a085;
}

.data-summary table td {
    padding: 5px;
    /*border-right: 1px solid #16a085;*/
}

.add-comment {
    border-top: 1px solid #ddd;
    margin-top: 8px;
    padding-top: 8px;
}

#grid1 {
    width: 100%;
    height: 400px;
}

.btn {
    border: none;
    font-weight: 700;
    font-size: 0.875em;
    vertical-align: middle;
    text-transform: uppercase;
}

.btn-red {
    border: none;
    background-color: #d35400;
    padding: 6px 14px;
    color: #fff;
    font-weight: 700;
    vertical-align: middle;
    /*letter-spacing: 1px;*/
}

.btn-blue-left {
    border: none;
    background-color: #2980b9;
    background: url(../img/arrow-left.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 24px;
    height: 24px;
}

.btn-blue-right {
    border: none;
    background-color: #2980b9;
    background: url(../img/arrow-right.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 24px;
    height: 24px;
}

.pagination-grid {
    float: right;
    margin-right: 10px;
}

.error-totals {
    background-color: #2980b9;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 0 auto;
    padding: 30px 30px;
}

.error-totals--number {
    font-weight: 700;
    font-size: 3.750em;
}
/* ==========================================================================
   form classes
   ========================================================================== */
.filter-box {
    font-family: 'Open Sans', sans-serif;
    color: #838383;
}

.filter-box__form-element {
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}


.filter-box__text-input {
    border: 1px solid #95a5a6;
    padding: 6px;
    font-size: 0.875em
}

.filter-box label {
    font-size: 0.750em;
    font-weight: 700;
    color: #2c3e50;
    padding-left: 2px;
}

.filter-box select {
    padding: 4px;
}

.filter-box__text-input--date {
    background: url(../img/datepicker.png);
    background-repeat: no-repeat;
    background-position: 95% center;
}

.filter-box__text-input--time {
    background: url(../img/timepicker.png);
    background-repeat: no-repeat;
    background-position: 94% center;
}

/* ==========================================================================
   Side Panel classes
   ========================================================================== */

.panel-container {
    background-color: #fff;
    position: fixed;
    left: -300px;
    top: 0;
    z-index: 4;
    height: 100%;
    padding-top: 115px;
    padding-left: 8px;
    padding-right: 6px;
    width: 300px;
    /*display: none;*/
    transition: 1s;
    box-shadow: 0px 1px 3px #222;

}

.panel-open {
    display: block;
    transition: 1s;
    left: 58px;
}

/* ==========================================================================
   Color classes
   ========================================================================== */

.belieze-hole {
    background-color: #2980b9;
    color: #fff;
}

.peter-river {
    background-color: #3498db;
    color: #fff;
}

.midnight-blue {
    background-color: #2c3e50;
}

.orange {
    background-color: #FF8000;
    color: #fff;
}

/* ==========================================================================
   Navigation Dropdown
   ========================================================================== */

   /* DEMO 1 */

.wrapper-dropdown-1 {
    /* Size and position */
    position: relative; /* Enable absolute positionning for children and pseudo elements */
    /*width: 200px;*/
    padding: 4px;
    /*margin: 0 auto;*/

    /* Styles */
    /*background: #9bc7de;*/
    color: #fff;
    outline: none;
    cursor: pointer;
}

/*.wrapper-dropdown-1:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -6px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #fff;    
}*/

.wrapper-dropdown-1 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 9;

    /* Styles */
    background: #fff;
    list-style: none;
    font-weight: normal; /* Cancels previous font-weight: bold; */

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-1 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 4px;
    background-color: #92ED1F;
}

/* Hover state */
.wrapper-dropdown-1 .dropdown li:hover a {
    background: #f3f8f8;
}

/* Active state */
.wrapper-dropdown-1.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

/*.wrapper-dropdown-1.active:after {
    border-color: #fff transparent;
    border-width: 6px 6px 0 6px ;
    margin-top: -3px;
}*/

.wrapper-dropdown-1.active {

}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-1 .dropdown,
.no-pointerevents .wrapper-dropdown-1 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-1.active .dropdown,
.no-pointerevents .wrapper-dropdown-1.active .dropdown {
    display: block;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

.clear {
    clear: both;
}

.text-center {
    text-align: center;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media (max-width: 1920px) {
    .cardui {
        width: 95%;
    }
}

@media (max-width: 1600px) {
    .cardui {
        width: 94%;
    }
}

@media (max-width: 1024px) {
    .cardui {
        width: 90%;
    }
}


@media (max-width: 768px) {
    .cardui {
        width: 88%;
    }
}

@media (max-width: 667px) {
    .cardui {
        width: 86%;
    }
}

@media (max-width: 414px) {
    .cardui {
        width: 84%;
    }

    .navigation > .nav-icon {
        display: block;
    }    
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
