<!-- Flexbox Grid System -->

<div class="Grid">
    <div class="Grid-cell">
        <div class="Grid Grid--gutters Grid--flexCells u-nested-full">
            <div class="Grid-cell ">
                <div class="card-flex">
                    <div class="card-header">
                        <h4>Customer Information</h4>
                        <!-- <div class="card-expand"></div> -->
                        <!-- <img src="img/expanding2.svg" class="card-handle" /> -->
                    </div>
                    <div class="clear"></div>
                    <div class="card-content">
                        <table class="webconsole-details">
                            <tr class="if-details-header">
                                <td width="40%">Customer Name</td>
                                <td width="30%">CSN</td>
                                <td width="30%">Master Acct ID</td>
                            </tr>
                            <tr>
                                <td>{{customer.customer_name}}</td>
                                <td>{{customer.csn}}</td>
                                <td>{{customer.master_acc_id}}</td>
                            </tr>
                            <tr class="if-details-header">
                                <td>Acct Manager</td>
                                <td>Project Manager</td>
                                <td>Sales Engr</td>
                            </tr>
                            <tr>
                                <td>{{customer.account_manager}}</td>
                                <td>{{customer.project_manager}}</td>
                                <td>{{customer.sales_engineer}}</td>
                            </tr>
                        </table>
                        <h4>Site Information</h4>
                        <div class="vlid-select">CAEDUB23</div><!--
                        --><div class="wrapper-demo"><!--
                            --><div id="dd" class="wrapper-dropdown-1" tabindex="1"><!--
                                --><span>CAEDUB12-AVIALL-RTR-2</span><!--
                                --><ul class="dropdown" tabindex="1">
                                    <!-- add an ng-click to trigger search when selecting from this list -->
                                    <li><a href="#">CAEDUB12-AVIALL-RTR-3</a></li>
                                    <li><a href="#">CAEDUB12-MONDELEZ-RTR-4</a></li>
                                </ul>
                            </div>
                        ​</div>
                    </div>
                </div>
            </div>
            <div class="Grid-cell" ng-controller="escalController">
                <div class="card-flex">
                    <div class="card-header">
                        <h4>Escalation Information</h4>
                        <div class="card-expand" ng-click="handle()"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="card-content small-text" style="white-space:pre-wrap; max-height:144px; overflow: hidden;">{{escalation}}</div>
                </div>
            </div>
        </div>

        <div class="Grid Grid--gutters Grid--flexCells u-nested-full">
            <div class="Grid-cell ">
                <div class="card-flex">
                    <h4>Circuit Information</h4>
                    <table class="circuit-table">
                        <tr class="belieze-hole">
                            <th>VCID</th>
                            <th>Orig VHID</th>
                            <th>Term VHID</th>
                            <th>Link</th>
                            <th>Speed</th>
                            <th>Provider</th>
                            <th>Last Mile</th>
                            <th>LEC Circuit ID</th>
                        </tr>
                        <tr ng-repeat="circuit in circuits" ng-class-even="'even'">
                            <td width="12%"><a href="http://vcom4.virtela.net/vcom4/circuit/details?id={{circuit.CIRCUITID}}" target="_blank">{{circuit.VCID}}</a></td>
                            <td width="18%">{{circuit.ORIGVHID}}</td>
                            <td width="18%">{{circuit.TERMVHID}}</td>
                            <td width="7%">{{circuit.CIRCUITTYPE}}</td>
                            <td width="5%">{{circuit.SPEED}}</td>
                            <td width="10%">{{circuit.PROVIDER}}</td>
                            <td width="10%">{{circuit.lastmile}}</td>
                            <td width="20%">{{circuit.LECCIRCUITID}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="Grid Grid--gutters Grid--flexCells u-nested-full">
            <div class="Grid-cell ">
                <div class="card-flex">
                    <h4>Hardware Information</h4>
                    <table class="interface-table">
                        <tr class="belieze-hole">
                            <th>VHID</th>
                            <th>Model</th>
                            <th>Vendor</th>
                            <th>Type</th>
                        </tr>
                        <!--<tr ng-repeat="hardware in hardware" ng-class-even="'even'">-->
                        <tr>
                            <td>{{hardware.vhid}}</td>
                            <td>{{hardware.model}}</td>
                            <td>{{hardware.vendor}}</td>
                            <td>{{hardware.equipment_type}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="Grid-cell">
                <div class="card-flex">
                    <h4>Interface Information</h4>
                    <table class="interface-table">
                        <tr class="belieze-hole">
                            <th>IF Alias</th>
                            <th>Status</th>
                            <th>Mgt Status</th>
                            <th>IP</th>
                        </tr>
                        <tr ng-repeat="interface in interfaces | limitTo: 5" ng-class-even="'even'">
                            <td>{{interface.IFALIAS}}</td>
                            <td>{{interface.status}}</td>
                            <td>{{interface.MANAGEMENT_STATE}}</td>
                            <td>{{interface.ip}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="Grid Grid--gutters Grid--flexCells u-nested-full">
            <div class="Grid-cell ">
                <div class="card-flex">
                    <h4>Maintenance Tickets</h4>
                    <table class="interface-table">
                        <tr class="peter-river">
                            <th>Ticket Number</th>
                            <th>Title</th>
                            <th>Type</th>
                            <th>Source</th>
                            <th>Area</th>
                            <th>Sub-area</th>
                            <th>Severity</th>
                        </tr>
                        <tr ng-repeat="maintenance in maintenance" ng-class-even="'even'">
                            <td>{{maintenance.SR_NUM}}</td>
                            <td>{{maintenance.SR_TITLE}}</td>
                            <td>{{maintenance.TT_TYPE_CD}}</td>
                            <td>{{maintenance.SOURCE_TYP_CDCE}}</td>
                            <td>{{maintenance.SR_AREA}}</td>
                            <td>{{maintenance.SR_SUB_AREA}}</td>
                            <td>{{maintenance.SR_SEV_CD}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="Grid Grid--gutters Grid--flexCells u-nested-full">
            <div class="Grid-cell ">
                <div class="card-flex">
                    <h4>Out of Band Information</h4>
                    <table class="interface-table">
                        <tr class="peter-river">
                            <th>VHID</th>
                            <th>Number</th>
                            <th>Comments</th>
                            <th>Last Status</th>
                        </tr>
                        <tr ng-repeat="oob in oob" ng-class-even="'even'">
                            <td>{{oob.vhid}}</td>
                            <td>{{oob.number}}</td>
                            <td width="38%">{{oob.comments}}</td>
                            <td width="12%">{{oob.lastdatetested | date:'d-MMM-yy HH:mm:ss Z'}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="Grid-cell" ng-controller="nercController" >
                <div class="card-flex">
                    <div class="card-header">
                        <h4>NERC Events</h4>
                        <div class="card-expand" ng-click="handle()"></div>
                        <!-- <img src="img/expanding2.svg" class="card-handle" ng-click="handle()" /> -->
                    </div>
                    <div class="clear"></div>
                    <div class="card-content">
                        <table class="interface-table">
                            <tr class="peter-river">
                                <th>VHID</th>
                                <th>Date</th>
                                <th>Type</th>
                                <th>Subtype</th>
                                <th>Source</th>
                                <!-- <th>Ticket</th> -->
                            </tr>
                            <tr ng-repeat="nerc in nerc | limitTo:-4" ng-class-even="'even'">
                                <td>{{nerc.vhid}}</td>
                                <td width="15%">{{nerc.date | date:'d-MMM-yy'}}</td>
                                <td>{{nerc.evtype}}</td>
                                <td>{{nerc.evsubtype}}</td>
                                <td>{{nerc.sourceserv}}</td>
                                <!-- <td>{{nerc.ticketno}}</td> -->
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="Grid-cell u-1of4">
        <div class="Grid-full Grid--gutters u-nested-full">
            <div class="Grid-cell">
                <div class="card-flex">Graph 1</div>
            </div>
        </div>
        <div class="Grid-full Grid--gutters u-nested-full">
            <div class="Grid-cell">
                <div class="card-flex">Graph 2</div>
            </div>
        </div>
        <div class="Grid-full Grid--gutters u-nested-full">
            <div class="Grid-cell" ng-controller="commentController">
                <div class="card-flex">
                    <div class="card-header">
                        <h4>Comments</h4>
                        <div class="card-expand" ng-click="handle()"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="card-content">
                        <div class="comment-container" ng-repeat="comment in comments | limitTo:-4" ng-class-even="'even'">
                            <div class="comment-text">{{comment.comment}}</div>
                            <div class="comment-details">Posted by: <strong>{{comment.user_name}}</strong> on <i>{{comment.date_added | date:'d-MMM-yy'}}</i></div>
                        </div>
                        <!-- <table class="comments-table">
                            <tr class="peter-river">
                                <th width="20%">Date</th>
                                <th>Comment</th>
                                <th width="20%">User</th>
                            </tr>
                            <tr ng-repeat="comment in comments | limitTo:-4" ng-class-even="'even'">
                                <td>{{comment.date | date:'d-MMM-yy'}}</td>
                                <td>{{comment.comment}}</td>
                                <td>{{comment.user}}</td>
                            </tr>
                        </table> -->
                        <div class="add-comment">
                            <textarea class="comment-box" ng-model="newcomment"></textarea>
                            <button class="btn orange btn-comment" ng-click="addComment(newcomment)">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Grid-full Grid--gutters u-nested-full">
            <div class="Grid-cell">
                <div class="card-flex">
                    <h4>Documents</h4>
                    <div class="doc-item">
                        <img src="img/docx1.svg" class="doc-icon" />
                        <div class="doc-label-block">
                            <span class="doc-filename">Design Document</span><br/>
                            <span class="doc-date">15-Jun-15</span>
                        </div>
                    </div>
                    <div class="doc-item">
                        <img src="img/docx1.svg" class="doc-icon" />
                        <div class="doc-label-block">
                            <span class="doc-filename">Design Document</span><br/>
                            <span class="doc-date">15-Jun-15</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="nercExpand">
    <h4>NERC EVENTS</h4>
    <table class="interface-table">
        <tr class="peter-river">
            <th>VHID</th>
            <th>W #</th>
            <th>Date</th>
            <th>Type</th>
            <th>Subtype</th>
            <th>Source</th>
            <!-- <th>Ticket</th> -->
        </tr>
        <tr ng-repeat="nerc in nerc" ng-class-even="'even'">
            <td>{{nerc.vhid}}</td>
            <td>{{nerc.NMSWNum}}</td>
            <td width="15%">{{nerc.date | date:'d-MMM-yy'}}</td>
            <td>{{nerc.evtype}}</td>
            <td>{{nerc.evsubtype}}</td>
            <td>{{nerc.sourceserv}}</td>
            <!-- <td>{{nerc.ticketno}}</td> -->
        </tr>
    </table>
</script>

<script type="text/ng-template" id="escalationExpand">
    <h4>Escalation Information</h4>
    <div class="small-text" style="white-space:pre-wrap;">{{escalation}}</div>
</script>

<script type="text/javascript">
function DropDown(el) {
    this.dd = el;
    this.placeholder = this.dd.children('span');
    this.opts = this.dd.find('ul.dropdown > li');
    this.val = '';
    this.index = -1;
    this.initEvents();
}

DropDown.prototype = {
    initEvents : function() {
        var obj = this;

        obj.dd.on('click', function(event){
            $(this).toggleClass('active');
            return false;
        });

        obj.opts.on('click',function(){
            var opt = $(this);
            obj.val = opt.text();
            obj.index = opt.index();
            obj.placeholder.text(obj.val);
        });
    },
    getValue : function() {
        return this.val;
    },
    getIndex : function() {
        return this.index;
    }
}

$(function() {

    var dd = new DropDown( $('#dd') );

    $(document).click(function() {
        // all dropdowns
        $('.wrapper-dropdown-1').removeClass('active');
    });

});
</script>