<!-- Flexbox Grid System -->

<div class="Grid">
    <div class="Grid-cell">
        <div class="Grid Grid--gutters Grid--flexCells u-nested-full">
            <div class="Grid-cell if-details-card">
                <div class="card-flex">
                    <div class="card-header">
                        <h4>CNYLAT3-MONDELEZ-RTR-1</h4>
                        <!-- <img src="img/show8.svg" class="card-handle" /> -->
                    </div>
                    <div class="clear"></div>
                    <div class="card-content">
                        <table class="webconsole-details">
                            <tr class="if-details-header">
                                <td width="33%">Vendor</td>
                                <td width="33%">Model</td>
                                <td width="33%">OS</td>
                            </tr>
                            <tr>
                                <td>Cisco_Systems</td>
                                <td>cisco1921k9</td>
                                <td>Version 15.1(4)M3</td>
                            </tr>
                            <tr class="if-details-header">
                                <td>Uptime</td>
                                <td>Management IP</td>
                                <td>SNMP Community String</td>
                            </tr>
                            <tr>
                                <td>4 weeks, 2 days, 12:43:11.84</td>
                                <td>100.64.138.20</td>
                                <td>s4UB36ayuZ</td>
                            </tr>
                            <tr class="if-details-header">
                                <td>Last SNMP Poll</td>
                                <td>Time at Location</td>
                                <td>Last Transition Time</td>
                            </tr>
                            <tr>
                                <td>Thu May 21 04:53:45 +0000 2015 by 207.179.3.90</td>
                                <td>02:57:07 FNT 2015-02-21</td>
                                <td>3 days, 4 hours, 23 seconds ago</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="Grid-cell if-location-card">
                <div class="card-flex">
                    <div class="card-header">
                        <h4>Location Summary</h4>
                    </div>
                    <div class="clear"></div>
                    <div class="card-content">
                        <table class="comments-table">
                            <tr class="peter-river">
                                <th>VHID</th>
                                <th>IP Address</th>
                                <th>SNMP String</th>
                            </tr>
                            <tr>
                                <td>CNYLAT3-MONDELEZ-RTR-1</td>
                                <td>202.90.42.151</td>
                                <td>pingonly</td>
                            </tr>
                        </table></div>
                </div>
            </div>
            <div class="Grid-cell">
                <div class="card-flex">
                    <div class="card-header">
                        <h4>Service Status Information</h4>
                        <img src="img/show8.svg" class="card-handle" />
                    </div>
                    <div class="clear"></div>
                    <div class="card-content">Content</div>
                </div>
            </div>
        </div>

        <div class="Grid Grid--gutters Grid--flexCells u-nested-full">
            <div class="Grid-cell ">
                <div class="card-flex">
                    <h4>Interface Status Information</h4>
                    <table class="circuit-table">
                        <tr class="belieze-hole">
                            <th>IF Admin Status</th>
                            <th>If Oper Status</th>
                            <th>Status Info</th>
                            <th>IF Index</th>
                            <th>IF Name</th>
                            <th>IF Alias</th>
                            <th>IF Desc</th>
                            <th>IF Type</th>
                            <th>IP Address</th>
                            <th>Netmask</th>
                        </tr>
                        <tr ng-repeat="circuit in circuits" ng-class-even="'even'">
                            <td>{{circuit.vcid}}</td>
                            <td>{{circuit.origvhid}}</td>
                            <td>{{circuit.termvhid}}</td>
                            <td>{{circuit.linktype}}</td>
                            <td>{{circuit.speed}}</td>
                            <td>{{circuit.provider}}</td>
                            <td>{{circuit.lastmile}}</td>
                            <td>{{circuit.LEC}}</td>
                            <td>{{circuit.LEC}}</td>
                            <td>{{circuit.LEC}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        
    <!-- <div class="Grid-cell u-1of4">
        <div class="Grid-full Grid--gutters u-nested-full">
            <div class="Grid-cell">
                <div class="card-flex">Graph 1</div>
            </div>
        </div>
        <div class="Grid-full Grid--gutters u-nested-full">
            <div class="Grid-cell">
                <div class="card-flex">Graph 2</div>
            </div>
        </div>
        <div class="Grid-full Grid--gutters u-nested-full">
            <div class="Grid-cell" ng-controller="commentController">
                <div class="card-flex">
                    <div class="card-header">
                        <h4>Comments</h4>
                        <img src="img/show8.svg" class="card-handle" ng-click="handle()" />
                    </div>
                    <div class="clear"></div>
                    <div class="card-content">
                        <table class="comments-table">
                            <tr class="peter-river">
                                <th width="20%">Date</th>
                                <th>Comment</th>
                                <th width="20%">User</th>
                            </tr>
                            <tr ng-repeat="comment in comments | limitTo:-4" ng-class-even="'even'">
                                <td>{{comment.date | date:'d-MMM-yy'}}</td>
                                <td>{{comment.comment}}</td>
                                <td>{{comment.user}}</td>
                            </tr>
                        </table>
                        <div class="add-comment">
                            <textarea class="comment-box" ng-model="newcomment"></textarea>
                            <button class="btn orange btn-comment" ng-click="addComment(newcomment)">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Grid-full Grid--gutters u-nested-full">
            <div class="Grid-cell">
                <div class="card-flex">
                    <h4>Documents</h4>
                    <div class="doc-item">
                        <img src="img/docx1.svg" class="doc-icon" />
                        <div class="doc-label-block">
                            <span class="doc-filename">Design Document</span><br/>
                            <span class="doc-date">15-Jun-15</span>
                        </div>
                    </div>
                    <div class="doc-item">
                        <img src="img/docx1.svg" class="doc-icon" />
                        <div class="doc-label-block">
                            <span class="doc-filename">Design Document</span><br/>
                            <span class="doc-date">15-Jun-15</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>