<!-- Flexbox Grid System -->


<div class="Grid">
    <div class="Grid-cell">
        <div class="Grid Grid--gutters Grid--flexCells u-nested-full">
            <div class="Grid-cell ">
                <div class="current"><!--
                    --><span class="current-icon"><img src="img/eye109.svg"></span><span class="history--current">{{initvars.vhidnow}}</span><!--
                --></div><!--
                --><div class="history"><!--
                    --><span class="hist-icon"><img src="img/history6.svg"></span><span ng-repeat="hist in initvars.histogram | unique:'vhid' | orderBy:'date' | limitTo: -5" ng-click="search(hist.vhid)">{{hist.vhid}}</span><!--
                --></div>
            </div>
        </div>
    </div>
</div>

<div class="Grid">
    <div class="Grid-cell">
        <div class="Grid Grid--gutters Grid--flexCells u-nested-full">
            <div class="Grid-cell">
                <div class="card-flex">
                    <div class="card-header">
                        <h4>{{initvars.vhidnow}}</h4>
                        <div class="pill status" ng-class="{pillgreen: intstatus == 'UP', pillred: intstatus == 'DOWN'}">{{intstatus}}</div>
                        <!-- <img src="img/show8.svg" class="card-handle" /> -->
                    </div>
                    <div class="clear"></div>
                    <div class="card-content">
                        <table class="webconsole-details">
                            <tr class="if-details-header">
                                <td width="33%">Vendor</td>
                                <td width="33%">Model</td>
                                <td width="33%">OS</td>
                            </tr>
                            <tr>
                                <td>{{intinfo.vendor}}</td>
                                <td>{{intinfo.model}}</td>
                                <td>{{intinfo.os}}</td>
                            </tr>
                            <tr class="if-details-header">
                                <td>Uptime</td>
                                <td>Management IP</td>
                                <td>Comm String</td>
                            </tr>
                            <tr>
                                <td>{{intinfo.uptime}}</td>
                                <td>{{intinfo.management_ip}}</td>
                                <td>{{intinfo.commstring}}</td>
                            </tr>
                            <tr class="if-details-header">
                                <td>Time at Location</td>
                                <td>Last Transition Time</td>
                            </tr>
                            <tr>
                                <td>{{intinfo.localtime}}</td>
                                <td>{{intinfo.last_transition_time}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="Grid-cell">
                <div class="card-flex">
                    <div class="card-header">
                        <h4>Location Summary</h4>
                    </div>
                    <div class="clear"></div>
                    <div class="card-content">
                        <table class="comments-table">
                            <tr class="peter-river">
                                <th>Status</th>
                                <th>VHID</th>
                                <th>IP Address</th>
                                <th>SNMP String</th>
                            </tr>
                            <tr ng-repeat="status in locations | limitTo: 8" ng-class-even="'even'">
                                <td><span class="mini-pill" ng-class="{pillgreen: status.status == 'UP', pillred: status.status == 'DOWN'}">{{status.status}}</span></td>
                                <td><span class="small-vhid-link" ng-click="search(status.vhid)">{{status.vhid}}</span></td>
                                <td>{{status.ipaddresss}}</td>
                                <td>{{status.commstring}}</td>
                            </tr>
                        </table></div>
                </div>
            </div>
        </div>

        <div class="Grid Grid--gutters Grid--flexCells u-nested-full">
            <div class="Grid-cell " ng-controller="wcintController">
                <div class="card-flex">
                    <div class="card-header">
                        <h4>Interface Status Information</h4>
                        <!-- <div class="card-expand"></div> -->
                        <div class="card-expand" ng-click="handle()"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="card-content">
                        <table class="circuit-table">
                            <tr class="belieze-hole">
                                <th><span class="sortable" ng-click="sortType = 'ifadminstatus';sortReverse = !sortReverse">IF Admin<br/>Status</span><span ng-show="sortType == 'ifadminstatus' && !sortReverse" class="sort-icon"><img src="img/sortdown.svg"/></span><span ng-show="sortType == 'ifadminstatus' && sortReverse" class="sort-icon"><img src="img/sortup.svg"/></span></th>
                                <th>If Oper<br/>Status</th>
                                <th>Status<br/>Info</th>
                                <th><span class="sortable" ng-click="sortType = 'ifindex';sortReverse = !sortReverse">IF Index</span><span ng-show="sortType == 'ifindex' && !sortReverse" class="sort-icon"><img src="img/sortdown.svg"/></span><span ng-show="sortType == 'ifindex' && sortReverse" class="sort-icon"><img src="img/sortup.svg"/></span></th>
                                <th>IF Name</th>
                                <th>IF Alias</th>
                                <th><span class="sortable" ng-click="sortType = 'ifdesc';sortReverse = !sortReverse">IF Desc</span></th>
                                <th>IF Type</th>
                                <th>IP Address</th>
                                <th>Netmask</th>
                            </tr>
                            <tr ng-repeat="devices in interfacedevices | orderBy:sortType:sortReverse | limitTo: 15" ng-class-even="'even'">
                                <td><span class="mini-pill" ng-class="{pillgreen: devices.ifadminstatus == 'OK', pillred: devices.ifadminstatus == 'DOWN', pillred: devices.ifadminstatus == 'CRITICAL'}">{{devices.ifadminstatus}}</td>
                                <td><span class="mini-pill" ng-class="{pillgreen: devices.ifopr == 'OK', pillred: devices.ifopr == 'DOWN', pillred: devices.ifopr == 'CRITICAL'}">{{devices.ifopr}}</td>
                                <td><span class="mini-pill" ng-class="{pillgreen: devices.ifstatus == 'OK', pillred: devices.ifstatus == 'DOWN', pillred: devices.ifstatus == 'CRITICAL'}">{{devices.ifstatus}}</td>
                                <td>{{devices.ifindex}}</td>
                                <td>{{devices.ifname}}</td>
                                <td>{{devices.ifalias}}</td>
                                <td>{{devices.ifdesc}}</td>
                                <td>{{devices.iftype}}</td>
                                <td>{{devices.ipaddress}}</td>
                                <td>{{devices.netmask}}</td>
                            </tr>
                            <tr ng-show="interfacedevices.length > 15">
                                <td colspan="10" class="text-center">Expand for more data</td>
                            </tr>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="Grid Grid--gutters Grid--flexCells u-nested-full">
            <div class="Grid-cell ">
                <div class="card-flex">
                    <h4>Management Path Information</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="devicesExpand">
    <h4>Maintenance Tickets</h4>
    <table class="circuit-table">
        <tr class="belieze-hole">
            <th>IF Admin Status</th>
            <th>If Oper Status</th>
            <th>Status Info</th>
            <th>IF Index</th>
            <th>IF Name</th>
            <th>IF Alias</th>
            <th>IF Desc</th>
            <th>IF Type</th>
            <th>IP Address</th>
            <th>Netmask</th>
        </tr>
        <tr ng-repeat="devices in interfacedevices | orderBy: 'ifindex'" ng-class-even="'even'">
            <td>{{devices.ifadminstatus}}</td>
            <td>{{devices.ifopr}}</td>
            <td>{{devices.ifstatus}}</td>
            <td>{{devices.ifindex}}</td>
            <td>{{devices.ifname}}</td>
            <td>{{devices.ifalias}}</td>
            <td>{{devices.ifdesc}}</td>
            <td>{{devices.iftype}}</td>
            <td>{{devices.ipaddress}}</td>
            <td>{{devices.netmask}}</td>
        </tr>
    </table>
</script>